<div class="">
  <h3 class="text-xl font-bold">
    <%= link_to author.name, author_path(author), class: 'underline', data: {turbo: false} %>
  </h3>

  <p>
    <%= author.books_count %> books
  </p>
</div>